<ion-view id="find-view">
    <ion-nav-title>
        <i id="home-title">发现</i>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button id="btn-plus" class="button icon ion-plus" ng-click="plusClick()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list link" ng-show="showOrHide==1&&num==0">
            <span class="corner-top icon ion-arrow-up-b"></span>
            <a class="item two" href="#/search" ng-click="numClick()">搜索</a>
            <a class="item two" href="#/customization" ng-click="numClick()">定制</a>
        </div>
        <div class="box"></div>
        <div class="list">
            <a href="#/tabs/experience" class="item one">装修宝典</a>
            <a href="#/tabs/experience" class="item two">体验馆</a>
            <a href="#/tabs/experience" class="item three">装修圈</a>
            <a href="#/tabs/experience" class="item last">装修活动</a>
        </div>
        <!--<div class="box-bot"></div>-->
    </ion-content>
</ion-view>