<ion-view id="user-view">
    <ion-nav-title>
        <i id="home-title">我</i>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button id="btn-plus" class="button icon ion-ios-bell"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="user-img">
            <img src="./images/home-bg.jpg" alt="">
            <p class="name">王二麻</p>
        </div>
        <div class="box"></div>
        <div class="list">
            <a href="#/tabs/experience" class="item one">我的装修</a>
            <a href="#/tabs/experience" class="item">我的收藏</a>
            <a href="#/tabs/experience" class="item lastA">我的记账</a>
            <div class="item boxA"></div>
            <a href="#/tabs/experience" class="item two">装修贷</a>
            <a href="#/tabs/experience" class="item three">装修黄历</a>
            <a href="#/tabs/experience" class="item lastB">设置</a>
        </div>

    </ion-content>
</ion-view>