
<ion-tabs class="tabs-calm tabs-icon-top tabs-bottom">
    <ion-tab title="首页" icon-on="icon ion-ios-home" icon-off="icon ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tabs-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="服务" icon-on="icon ion-ios-browsers" icon-off="icon ion-ios-browsers-outline" ui-sref="tabs.serve">
        <ion-nav-view name="tabs-serve"></ion-nav-view>
    </ion-tab>
    <ion-tab title="发现" icon-on="icon ion-ios-paperplane" icon-off="icon ion-ios-paperplane-outline" ui-sref="tabs.find">
        <ion-nav-view name="tabs-find"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-on="icon ion-ios-person" icon-off="icon ion-ios-person-outline" ui-sref="tabs.user">
        <ion-nav-view name="tabs-user"></ion-nav-view>
    </ion-tab>
</ion-tabs>
