<ion-view id="customization-view" hide-back-button="true">
    <ion-nav-title>
        <i>定制</i>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a href="#/tabs/home"><button class="button icon ion-chevron-left" id="btn-back"></button></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <img src="./images/customization_02.jpg" alt="">

        <a href="#/vip"> <button class="button icon ion-ios-chatboxes center" >申请定制</button></a>
    </ion-content>
</ion-view>